# java binaries
*.class
*.jar
*.war
/build
bin

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.log
maven-archiver*
target/

#flattened POMs
.flattened-pom.xml

# gnupg keyring
/.gnupg

# ide
*#
*.iml
*.ipr
*.iws
*.sw?
*~
.#*
.idea/
.idea
.project
.settings
.*.md.html
.DS_Store
.springBeans
.flattened-pom.xml
.vscode/
.classpath
.factorypath
