---
---

@import "{{ site.theme }}";

.main-content {
  max-width: 90rem;
}

.imgborder {
  display:inline-block;
  position:relative;
  border:1px solid #01add1;
}

.imgborder.s1 {
  -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0, 0.5);
  box-shadow: 0 28px 16px -26px rgba(0, 0, 0, 0.5);
}