name: Chaos Monkey Build

on: [push, pull_request]

jobs:
  build:
    name: "OS: ${{ matrix.os }}, Java: ${{ matrix.java }}"
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        java: [11]
        include:
          # Build additional java versions
          - java: 8
            os: ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Run Spotless
        run: ./mvnw spotless:check
      - name: Run Maven verify
        run: ./mvnw verify -B
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1

  deploy:
    needs: build
    name: "Publish snapshot artifacts"
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Run Maven Deploy
        env:
          SONATYPE_USERTOKEN: ${{ secrets.SONATYPE_USERTOKEN }}
          SONATYPE_USERTOKENPASSWORD: ${{ secrets.SONATYPE_USERTOKENPASSWORD }}
        run: ./mvnw deploy -DskipTests --settings .settings.xml
