name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version (2.X.X) to be released"
        required: true


jobs:
  release:
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ github.event.inputs.version }}

    steps:
      - name: Install semver
        run: sudo apt-get install -y node-semver
      - name: Validate is valid version
        run: semver $VERSION
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN_CHAOS_BOT }}
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Configure Git
        run: |
          git config user.email "54942692+ChaosMonkeyBot@users.noreply.github.com"
          git config user.name "Chaos Monkey Bot"
      - name: Bump Version
        run: ./mvnw versions:set-property -Dproperty=revision -DnewVersion=$VERSION
      - name: Tag
        run: |
          git commit -m "Release $VERSION" -o pom.xml
          git tag -a -m "Release $VERSION" v$VERSION
      - name: Move to next Snapshot
        run: |
          NEXT_VERSION=`semver $VERSION -i`-SNAPSHOT
          ./mvnw versions:set-property -Dproperty=revision -DnewVersion=$NEXT_VERSION
          cp chaos-monkey-docs/src/main/asciidoc/changes.adoc.template chaos-monkey-docs/src/main/asciidoc/changes.adoc
          git commit -m "Prepare for next version: $NEXT_VERSION" -o pom.xml chaos-monkey-docs/src/main/asciidoc/changes.adoc
      - name: Push (Release Tag + Main Branch)
        run: git push --follow-tags
